@use '@angular/material' as mat;

html {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  @include mat.theme((
    color: mat.$violet-palette,
    typography: Roboto,
    density: 0
  ));

  &.dark {
    color-scheme: light dark;
  }
}

body {
  margin: 0;
}
